<h4 class="header">@Title</h4>
<style>
    .header{
        background-color: blue;
        color: yellow;
        font-weight: bold;
    }
</style>
@code {
    [Parameter]
    public string Title { get; set; }
}
