<div class="footer">
    <button class="pushable1">
        <span class="front1">
            <NavLink class="nav-link" href="/Euler/EulerMenu00">1</NavLink>
        </span>
    </button>
    <button class="pushable1">
        <span class="front1">
            <NavLink class="nav-link" href="/Euler/EulerMenu01">2</NavLink>
        </span>
    </button>
    <button class="pushable1">
        <span class="front1">
            <NavLink class="nav-link" href="/Euler/EulerMenu02">3</NavLink>
        </span>
    </button>
</div>
<hr/>
<small><a href="https://projecteuler.net">https://projecteuler.net</a></small>

<style>
    .pushable1 {
        background: #776B5D;
        border-radius: 6px;
        border: none;
        padding:0px;
        cursor: pointer;
        outline-offset: 4px;
    }

    .front1 {
        background: #EBE305;
        display: block; 
        padding: 5px;
        padding-right: 25px;
        text-align: center;
        border-radius: 6px;
        font-size: 1.05rem;
        color: black;
        transform: translateY(-6px);
    }

    .pushable1:active .front1 {
        transform: translateY(-2px);
    }

    .footer{
        padding: 10px;
        background-color: blue;
        color: yellow;
        font-weight: bold;
    }
</style>
@code {
}
