<div class="footer">
    <button class="pushable">
        <span class="front">
            <NavLink class="nav-link" href="/Euler/EulerMenu00">1</NavLink>
        </span>
    </button>
    <button class="pushable">
        <span class="front">
            <NavLink class="nav-link" href="/Euler/EulerMenu01">2</NavLink>
        </span>
    </button>
    <button class="pushable">
        <span class="front">
            <NavLink class="nav-link" href="/Euler/EulerMenu02">3</NavLink>
        </span>
    </button>
</div>
<hr/>
<small><a href="https://projecteuler.net">https://projecteuler.net</a></small>

<style>
    .pushable {
        background: hsl(53deg 25% 50%);
        border-radius: 12px;
        border: none;
        padding: 0;
        cursor: pointer;
        outline-offset: 4px;
    }

    .front {
        display: block;
        padding: 5px;
        border-radius: 12px;
        font-size: 1.25rem;
        background: hsl(52deg 50% 50%);
        color: white;
        transform: translateY(-6px);
    }

    .pushable:active .front {
        transform: translateY(-2px);
    }

    .footer{
        padding: 6;
        background-color: blue;
        color: yellow;
        font-weight: bold;
    }
</style>
@code {
}
