<div class="footer">
    <button class="NavButton"><NavLink class="nav-link" href="/Euler/EulerMenu00">1</NavLink></button>
    <button class="NavButton"><NavLink class="nav-link" href="/Euler/EulerMenu01">2</NavLink></button>
    <button class="NavButton"><NavLink class="nav-link" href="/Euler/EulerMenu02">3</NavLink></button>
</div>
<hr/>
<small><a href="https://projecteuler.net">https://projecteuler.net</a></small>

<style>
    .NavButton{
        background-color: #04AA6D; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    .footer{
        background-color: blue;
        color: yellow;
        font-weight: bold;
    }
</style>
@code {
}
