<h4 class="header">@Title</h4>
<style>
    .header{
        /*src: url('fonts/AmstelvarAlpha-VF.ttf');*/
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        background-color: blue;
        color: white;
        font-weight: bold;
        
    }
</style>
@code {
    [Parameter]
    public string Title { get; set; }
}
